:global(.icon) {
  width: 100px;
  height: 100px;
  transform: translateZ(0);
}

:global(.icon.enter) {
  width: 0;
  height: 0;
  margin: 50px;
}

:global(.icon.leave) {
  visibility: hidden;
  position: absolute;
}
