.canvas {
  position: absolute;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: gray;
}

.page-item {
  position: relative;
  // transform: translateZ(0);
  left: 0;
  top: 0;
  display: inline-block;
  width: 100px;
  height: 100px;
}

// .page-item.leave {
//   top: -100px;
//   height: 0;
//   width: 0;
//   margin: 0;
// }

.page-item-img {
  position: absolute;
  width: 90px;
  height: 90px;
  margin: 5px;
}
