body {
  color: #776E64;
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  font-weight: bolder;
}

.tile {
  width: 100px;
  height: 100px;
  background: white;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.tile.removed,
.tile.leave {
  visibility: hidden;
}

.x0y0 {
  position: absolute;
  top: 0;
  left: 0;
}

.x0y1 {
  position: absolute;
  top: 120px;
  left: 0;
}

.x0y2 {
  position: absolute;
  top: 240px;
  left: 0;
}

.x0y3 {
  position: absolute;
  top: 360px;
  left: 0;
}

.x1y0 {
  position: absolute;
  top: 0;
  left: 120px;
}

.x1y1 {
  position: absolute;
  top: 120px;
  left: 120px;
}

.x1y2 {
  position: absolute;
  top: 240px;
  left: 120px;
}

.x1y3 {
  position: absolute;
  top: 360px;
  left: 120px;
}

.x2y0 {
  position: absolute;
  top: 0;
  left: 240px;
}

.x2y1 {
  position: absolute;
  top: 120px;
  left: 240px;
}

.x2y2 {
  position: absolute;
  top: 240px;
  left: 240px;
}

.x2y3 {
  position: absolute;
  top: 360px;
  left: 240px;
}

.x3y0 {
  position: absolute;
  top: 0;
  left: 360px;
}

.x3y1 {
  position: absolute;
  top: 120px;
  left: 360px;
}

.x3y2 {
  position: absolute;
  top: 240px;
  left: 360px;
}

.x3y3 {
  position: absolute;
  top: 360px;
  left: 360px;
}

.tile {
  background: #eee4da;
}
.tile.tile-2 {
  background: #eee4da;
}
.tile.tile-4 {
  background: #ede0c8;
}
.tile.tile-8 {
  color: #f9f6f2;
  background: #f2b179;
}
.tile.tile-16 {
  color: #f9f6f2;
  background: #f59563;
}
.tile.tile-32 {
  color: #f9f6f2;
  background: #f67c5f;
}
.tile.tile-64 {
  color: #f9f6f2;
  background: #f65e3b;
}
.tile.tile-128 {
  background: #edcf72;
}
.tile.tile-256 {
  color: #f9f6f2;
  background: #edcc61;
}
.tile.tile-512 {
  color: #f9f6f2;
  background: #edc850;
}
.tile.tile-1024 {
  color: #f9f6f2;
  background: #edc53f;
}
.tile.tile-2048 {
  color: #f9f6f2;
  background: #edc22e;
}
